

/*body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}*/

.buttons {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.container {
    display: grid;
    width: 500px;
    height: 500px;
    background-color: var(--secondary-light);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .main {
    display: flex;
    gap: 100px;
    max-width: 1100px;
    margin: 0 auto;
  }*/
  
  